<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= 'dylan' %></h1>
    <p>
      TEST MAIL
    </p>
  </body>
</html>